
body {
    font-family: Circular, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 1.43;
    color: #ccc;
    background-color: #1d1d1d;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

a {
    color: #009688;
    text-decoration: none;
}
a:hover, a:focus {
    color: #009688;
    text-decoration: underline;
}

img {
    vertical-align: middle;
}
.img-responsive {
    width: 100%;
    height: auto;
}
.img-round, .media-round {
    border-radius: 50%;
    border: 2px solid #fff;
}
.img-responsive-height {
    width: auto;
    height: 100%}
p {
    margin-top: 0;
    margin-bottom: 15px;
}
small {
    font-size: 0.85em;
}
.text-lead {
    font-size: 16px;
}
.text-copy {
    font-size: 16px;
}
.text-copy .text-lead {
    font-weight: bold;
}
.text-left {
    text-align: left;
}
.text-right {
    text-align: right;
}
.text-center {
    text-align: center;
}
.text-hide {
    font: 0/0 a;
    color: transparent;
    text-shadow: none;
    background-color: transparent;
    border: 0;
}
.text-jumbo {
    font-size: 60px;
    font-weight: 900;
}
abbr[title], abbr[aria-label] {
    border-bottom: 1px dotted #c4c4c4;
    cursor: help;
}
q:before, q:after {
    content: ""}
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    line-height: 1.1;
    text-rendering: optimizelegibility;
}
h1 small, h2 small, h3 small, h4 small, h5 small, h6 small, .h1 small, .h2 small, .h3 small, .h4 small, .h5 small, .h6 small {
    font-weight: normal;
    line-height: 1;
    text-transform: none;
    color: #82888a;
}
h1, h2, h3, h4, h5, h6 {
    margin-top: 25px;
    margin-bottom: 15px;
}
h1:first-child, h2:first-child, h3:first-child, h4:first-child, h5:first-child, h6:first-child {
    margin-top: 0;
}
h1, .h1 {
    font-size: 44px;
}
h2, .h2 {
    font-size: 32px;
}
h3, .h3 {
    font-size: 24px;
}
h4, .h4 {
    font-size: 18px;
}
h5, .h5 {
    font-size: 16px;
}
h6, .h6 {
    font-size: 14px;
}
h1, .h1, h2, .h2, h3, .h3 {
    font-weight: normal;
}
h4, .h4, h5, .h5, h6, .h6 {
    font-weight: bold;
}
h6, .h6 {
    color: #82888a;
}
h1 small, .h1 small {
    font-size: 28px;
}
h2 small, .h2 small {
    font-size: 20px;
}
h3 small, .h3 small {
    font-size: 17px;
}
h4 small, .h4 small {
    font-size: 14px;
}
ul, ol {
    margin-top: 0;
    margin-bottom: 15px;
    padding-left: 25px;
}
ul ul:last-child, ul ol:last-child, ol ul:last-child, ol ol:last-child {
    margin-bottom: 0;
}
.list-unstyled, .list-layout, .subnav-list, .sidenav-list {
    padding-left: 0;
    list-style: none;
}
.list-layout, .subnav-list, .sidenav-list {
    margin-bottom: 0;
}
dl {
    margin-top: 0;
    margin-bottom: 15px;
}
dt {
    font-weight: bold;
}
dd {
    margin-left: 0;
    margin-bottom: 10px;
}
.text-normal, a.text-normal, a.text-normal:hover, a.text-normal:focus {
    color: inherit;
}
.text-muted {
    color: #82888a;
}
a.text-muted {
    color: #82888a;
}
a.text-muted:hover, a.text-muted:focus {
    color: #82888a;
}
.text-branding {
    text-transform: uppercase;
}
.text-contrast {
    color: #fff;
}
.text-truncate {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.link-reset {
    color: inherit;
}
.link-reset:hover, .link-reset:focus, .link-reset:active {
    color: inherit;
    outline: none;
    text-decoration: none;
}
.text-wrap {
    word-wrap: break-word;
}
code, pre {
    font-family: Menlo, Monaco, "Courier New", monospace;
}
code {
    padding: 2px 4px;
    border-top: 1px solid #dce0e0;
    background-color: #edefed;
    font-size: 0.8em;
    white-space: nowrap;
    color: #d14;
}
pre {
    margin-top: 0;
    margin-bottom: 15px;
    padding: 14px;
    background-color: #edefed;
    font-size: 0.95em;
    white-space: pre;
    overflow-x: auto;
}
pre code {
    border: 0;
    padding: 0;
    background: transparent;
    font-size: inherit;
    white-space: inherit;
    color: inherit;
}
.page-container {
    margin-left: auto;
    margin-right: auto;
    padding-left: 25px;
    padding-right: 25px;
    width: 1045px;
}
.page-container:before, .page-container:after {
    content: " ";
    display: table;
}
.page-container:after {
    clear: both;
}
.page-container-full {
    width: auto;
    min-width: 1045px;
}
.page-container-responsive {
    width: auto;
}
@media (min-width: 745px) {
    .page-container-responsive {
    width: 745px;
}
}@media (min-width: 1045px) {
    .page-container-responsive {
    width: 1045px;
}
}.row:before, .row:after {
    content: " ";
    display: table;
}
.row:after {
    clear: both;
}
.row-table {
    display: table;
}
.row-full-height {
    height: 100%}
.row {
    margin-left: -12.5px;
    margin-right: -12.5px;
}
.row>.col-1, .row>.col-2, .row>.col-3, .row>.col-4, .row>.col-5, .row>.col-6, .row>.col-7, .row>.col-8, .row>.col-9, .row>.col-10, .row>.col-11, .row>.col-12 {
    padding-left: 12.5px;
    padding-right: 12.5px;
}
.row.row-table {
    width: 100%;
    width: calc(100% + 25px);
}
.row-condensed {
    margin-left: -6.25px;
    margin-right: -6.25px;
}
.row-condensed>.col-1, .row-condensed>.col-2, .row-condensed>.col-3, .row-condensed>.col-4, .row-condensed>.col-5, .row-condensed>.col-6, .row-condensed>.col-7, .row-condensed>.col-8, .row-condensed>.col-9, .row-condensed>.col-10, .row-condensed>.col-11, .row-condensed>.col-12 {
    padding-left: 6.25px;
    padding-right: 6.25px;
}
.row-condensed.row-table {
    width: 100%;
    width: calc(100% + 12.5px);
}
.row-space-1 {
    margin-bottom: 6.25px;
}
.row-space-top-1 {
    margin-top: 6.25px;
}
.row-space-2 {
    margin-bottom: 12.5px;
}
.row-space-top-2 {
    margin-top: 12.5px;
}
.row-space-3 {
    margin-bottom: 18.75px;
}
.row-space-top-3 {
    margin-top: 18.75px;
}
.row-space-4 {
    margin-bottom: 25px;
}
.row-space-top-4 {
    margin-top: 25px;
}
.row-space-5 {
    margin-bottom: 31.25px;
}
.row-space-top-5 {
    margin-top: 31.25px;
}
.row-space-6 {
    margin-bottom: 37.5px;
}
.row-space-top-6 {
    margin-top: 37.5px;
}
.row-space-7 {
    margin-bottom: 43.75px;
}
.row-space-top-7 {
    margin-top: 43.75px;
}
.row-space-8 {
    margin-bottom: 50px;
}
.row-space-top-8 {
    margin-top: 50px;
}
.col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12 {
    float: left;
    position: relative;
    min-height: 1px;
}
.col-top, .col-middle, .col-bottom {
    float: none;
    display: table-cell;
}
.col-center {
    float: none;
    margin-left: auto;
    margin-right: auto;
}
.col-top {
    vertical-align: top;
}
.col-middle {
    vertical-align: middle;
}
.col-bottom {
    vertical-align: bottom;
}
.col-1 {
    width: 8.33333%}
.col-push-1 {
    left: 8.33333%}
.col-pull-1 {
    right: 8.33333%}
.col-offset-1 {
    margin-left: 8.33333%}
.col-2 {
    width: 16.66667%}
.col-push-2 {
    left: 16.66667%}
.col-pull-2 {
    right: 16.66667%}
.col-offset-2 {
    margin-left: 16.66667%}
.col-3 {
    width: 25%}
.col-push-3 {
    left: 25%}
.col-pull-3 {
    right: 25%}
.col-offset-3 {
    margin-left: 25%}
.col-4 {
    width: 33.33333%}
.col-push-4 {
    left: 33.33333%}
.col-pull-4 {
    right: 33.33333%}
.col-offset-4 {
    margin-left: 33.33333%}
.col-5 {
    width: 41.66667%}
.col-push-5 {
    left: 41.66667%}
.col-pull-5 {
    right: 41.66667%}
.col-offset-5 {
    margin-left: 41.66667%}
.col-6 {
    width: 50%}
.col-push-6 {
    left: 50%}
.col-pull-6 {
    right: 50%}
.col-offset-6 {
    margin-left: 50%}
.col-7 {
    width: 58.33333%}
.col-push-7 {
    left: 58.33333%}
.col-pull-7 {
    right: 58.33333%}
.col-offset-7 {
    margin-left: 58.33333%}
.col-8 {
    width: 66.66667%}
.col-push-8 {
    left: 66.66667%}
.col-pull-8 {
    right: 66.66667%}
.col-offset-8 {
    margin-left: 66.66667%}
.col-9 {
    width: 75%}
.col-push-9 {
    left: 75%}
.col-pull-9 {
    right: 75%}
.col-offset-9 {
    margin-left: 75%}
.col-10 {
    width: 83.33333%}
.col-push-10 {
    left: 83.33333%}
.col-pull-10 {
    right: 83.33333%}
.col-offset-10 {
    margin-left: 83.33333%}
.col-11 {
    width: 91.66667%}
.col-push-11 {
    left: 91.66667%}
.col-pull-11 {
    right: 91.66667%}
.col-offset-11 {
    margin-left: 91.66667%}
.col-12 {
    width: 100%}
.col-push-12 {
    left: 100%}
.col-pull-12 {
    right: 100%}
.col-offset-12 {
    margin-left: 100%}
@media (max-width: 745px) {
    .page-container-responsive .col-1, .page-container-responsive .col-2, .page-container-responsive .col-3, .page-container-responsive .col-4, .page-container-responsive .col-5, .page-container-responsive .col-6, .page-container-responsive .col-7, .page-container-responsive .col-8, .page-container-responsive .col-9, .page-container-responsive .col-10, .page-container-responsive .col-11, .page-container-responsive .col-12 {
    float: none;
    width: auto;
    margin-bottom: 25px;
}
.page-container-responsive .col-1:last-child, .page-container-responsive .col-2:last-child, .page-container-responsive .col-3:last-child, .page-container-responsive .col-4:last-child, .page-container-responsive .col-5:last-child, .page-container-responsive .col-6:last-child, .page-container-responsive .col-7:last-child, .page-container-responsive .col-8:last-child, .page-container-responsive .col-9:last-child, .page-container-responsive .col-10:last-child, .page-container-responsive .col-11:last-child, .page-container-responsive .col-12:last-child {
    margin-bottom: 0;
}
.page-container-responsive .col-push-1, .page-container-responsive .col-push-2, .page-container-responsive .col-push-3, .page-container-responsive .col-push-4, .page-container-responsive .col-push-5, .page-container-responsive .col-push-6, .page-container-responsive .col-push-7, .page-container-responsive .col-push-8, .page-container-responsive .col-push-9, .page-container-responsive .col-push-10, .page-container-responsive .col-push-11, .page-container-responsive .col-push-12 {
    left: auto;
}
.page-container-responsive .col-pull-1, .page-container-responsive .col-pull-2, .page-container-responsive .col-pull-3, .page-container-responsive .col-pull-4, .page-container-responsive .col-pull-5, .page-container-responsive .col-pull-6, .page-container-responsive .col-pull-7, .page-container-responsive .col-pull-8, .page-container-responsive .col-pull-9, .page-container-responsive .col-pull-10, .page-container-responsive .col-pull-11, .page-container-responsive .col-pull-12 {
    right: auto;
}
.page-container-responsive .col-offset-1, .page-container-responsive .col-offset-2, .page-container-responsive .col-offset-3, .page-container-responsive .col-offset-4, .page-container-responsive .col-offset-5, .page-container-responsive .col-offset-6, .page-container-responsive .col-offset-7, .page-container-responsive .col-offset-8, .page-container-responsive .col-offset-9, .page-container-responsive .col-offset-10, .page-container-responsive .col-offset-11, .page-container-responsive .col-offset-12 {
    margin-left: 0;
}
}.panel-close, .alert-close, .modal-close {
    float: right;
    pointer: cursor;
    font-size: 2.5em;
    line-height: 0.4;
    vertical-align: middle;
    font-style: normal;
    font-weight: normal;
    color: #fff;
}
.panel-close:before, .alert-close:before, .modal-close:before {
    content: "\00d7"}
.panel-close:hover, .alert-close:hover, .modal-close:hover, .panel-close:focus, .alert-close:focus, .modal-close:focus {
    color: #e6e6e6;
    text-decoration: none;
}
.panel-close:not(:empty):before, .alert-close:not(:empty):before, .modal-close:not(:empty):before {
    display: none;
}
.panel {
    border: 1px solid #dce0e0;
    background-color: #fff;
    border-radius: 0;
}
.panel-quote {
    position: relative;
    margin-left: 10px;
}
.panel-quote:before {
    content: "";
    display: inline-block;
    position: absolute;
    left: -10px;
    top: 15px;
    right: auto;
    border: 10px solid transparent;
    border-left: 0;
    border-right-color: #dce0e0;
}
.panel-quote:after {
    content: "";
    display: inline-block;
    position: absolute;
    left: -9px;
    top: 16px;
    right: auto;
    border: 9px solid transparent;
    border-left: 0;
    border-right-color: #fff;
}
.panel-quote.panel-dark:before, .panel-quote.panel-header:before {
    content: "";
    display: inline-block;
    position: absolute;
    left: -10px;
    top: 15px;
    right: auto;
    border: 10px solid transparent;
    border-left: 0;
    border-right-color: #dce0e0;
}
.panel-quote.panel-dark:after, .panel-quote.panel-header:after {
    content: "";
    display: inline-block;
    position: absolute;
    left: -9px;
    top: 16px;
    right: auto;
    border: 9px solid transparent;
    border-left: 0;
    border-right-color: #edefed;
}
.panel-quote-right {
    position: relative;
    margin-right: 10px;
    margin-left: 0;
}
.panel-quote-right:before {
    content: "";
    display: inline-block;
    position: absolute;
    right: -10px;
    top: 15px;
    left: auto;
    border: 10px solid transparent;
    border-right: 0;
    border-left-color: #dce0e0;
}
.panel-quote-right:after {
    content: "";
    display: inline-block;
    position: absolute;
    right: -9px;
    top: 16px;
    left: auto;
    border: 9px solid transparent;
    border-right: 0;
    border-left-color: #fff;
}
.panel-quote-right.panel-dark:before, .panel-quote-right.panel-header:before {
    content: "";
    display: inline-block;
    position: absolute;
    right: -10px;
    top: 15px;
    left: auto;
    border: 10px solid transparent;
    border-right: 0;
    border-left-color: #dce0e0;
}
.panel-quote-right.panel-dark:after, .panel-quote-right.panel-header:after {
    content: "";
    display: inline-block;
    position: absolute;
    right: -9px;
    top: 16px;
    left: auto;
    border: 9px solid transparent;
    border-right: 0;
    border-left-color: #edefed;
}
.panel-header, .panel-body, ul.panel-body>li, ol.panel-body>li, .panel-footer {
    position: relative;
    margin: 0;
    padding: 20px;
    border-top: 1px solid #dce0e0;
}
.panel-header+.panel-body, .panel-body+.panel-body, ul.panel-body>li+.panel-body, ol.panel-body>li+.panel-body, .panel-footer+.panel-body {
    border-top: none;
}
.panel-header:first-child, .panel-body:first-child, ul.panel-body>li:first-child, ol.panel-body>li:first-child, .panel-footer:first-child {
    border-top: 0;
}
ul.panel-condensed>li, ol.panel-condensed>li, .panel-condensed {
    padding: 14px;
}
.panel-close {
    color: #cacccd;
}
.panel-close:hover, .panel-close:focus {
    color: #b0b3b5;
}
.panel-header {
    color: #565a5c;
    font-size: 16px;
    padding-top: 14px;
    padding-bottom: 14px;
    border-bottom: 1px solid #dce0e0;
}
.panel-header-scroll {
    position: relative;
}
.panel-header-scroll:before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: 4px;
    box-shadow: 0 0 10px 10px rgba(0, 0, 0, 0.06);
    clip: rect(4px,  auto,  20px,  auto);
}
.panel-image {
    position: relative;
}
a.panel-image {
    display: block;
}
.panel-body {
    position: relative;
}
.panel-body+.panel-body:before {
    content: "";
    position: absolute;
    top: -1px;
    height: 1px;
    left: 20px;
    right: 20px;
    border-top: 1px solid #dce0e0;
    border-color: rgba(220, 224, 224, 0.5);
}
.panel-body:first-child:before, .panel-body.panel-dark:before, .panel-body.panel-header:before {
    display: none;
}
.panel-body>*:first-child {
    margin-top: 0;
}
.panel-body>*:last-child {
    margin-bottom: 0;
} 
